#body {
  font-family: 'Nanum Pen Script', cursive;
  font-size: x-large;
}

#navbar {
  background-color: #3c3c3d;
}

#nav-bar-logo {
  font-size: xx-large;
  font-family: 'Fredericka the Great', cursive;
  color: white;
}

.display-4 {
  font-family: 'Fredericka the Great', cursive;
}

.collapse.show .navbar-nav .nav-item {
  margin-left: 9px;
}

.flash.notice {
  background-color: #8cffb4;
  padding-left: 5px;
  padding-right: 5px;
}

#flash-msg {
  margin-left: 5px;
  margin-right: 5px;
}

#site-contents {
  margin-left: 3px;
  margin-right: 3px;
}

#sidebar {
  padding-left: 1px;
  padding-right: 1px;
}

#sidebar-items a {
  background-color: #3174e0;
  color: white;
}

#review-title {
  font-size: xx-large;
}

.fas {
  color: #3a82f4;
}

.carousel-item img {
  width: 100%;
  margin-left: 2px;
}
