#body {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

#navbar {
  background-color: #3c3c3d;
}

#navbar-toggler-icon {
  color: white;
}

#nav-bar-logo {
  font-size: xx-large;
  font-family: 'Fredericka the Great', cursive;
  color: white;
}

.display-4 {
  font-family: 'Fredericka the Great', cursive;
}

.collapse.show .navbar-nav .nav-item {
  margin-left: 9px;
}

.flash.notice {
  background-color: #8cffb4;
  padding-left: 5px;
  padding-right: 5px;
}

.flash.alert {
  background-color: #e5e7e8;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid grey;
}

#flash-msg {
  margin-left: 5px;
  margin-right: 5px;
}

#site-contents {
  margin-left: 3px;
  margin-right: 3px;
}

#sidebar {
  padding-left: 1px;
  padding-right: 1px;
}

#sidebar-items a {
  background-color: #3174e0;
  color: white;
}

#review-title {
  font-size: xx-large;
}

.fa-camera {
  color: #11a3f7;
}

.fa-camera:hover {
  color: #3c3c3d;
}

#sidebar-plus-sign {
  margin-right: 3px;
}

#add-photo-plus-sign {
  vertical-align: top;
  padding-top: 18px;
}

.carousel-item p {
  background-color: #3c3c3d;
  font-family: 'Fredericka the Great', cursive;
  border-radius: 5px;
}

.carousel-item img {
  width: 100%;
  margin-left: 2px;
}

.thumb-icon {
  margin-left: 8px;
  margin-right: 8px;
}

#modal-group {
  background-color: white;
}

#review-form {
  margin-top: 30px;
}

li {
  list-style: none;
}
