<div class="container">
  <div class="row d-flex">
    <div class="col-lg-10 text-center">
      <div class="card border-dark shadow-sm">
        <div class="card-header" id="review-title"><%= @review.title %>
        </div>
          <div class="card-body">
            <p id="review-body"><%= @review.body %></p>
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <p id="review-rating">user rating: <%= @review.user_rating %></p>
    </div>
    <div class="col-lg-4">
      <p id="votes-count">votes: <%= @review.votes_count || 0 %></p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
