<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-10">
    <h2><%= @review.title %></h2>
    <p id="review-body"><%= @review.body %></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
    <p id="review-rating">user rating: <%= @review.user_rating %></p>
  </div>
  <div class="col-lg-4">
    <p id="votes-count">votes: <%= @review.votes_count || 0 %></p>
  </div>
  <div class="col-2"></div>
</div>
